[submodule "blazar"]
	path = blazar
	url = https://github.com/ChameleonCloud/blazar.git
[submodule "heat"]
	path = heat
	url = https://github.com/ChameleonCloud/heat.git
[submodule "horizon-theme"]
	path = horizon-theme
	url = https://github.com/ChameleonCloud/horizon-theme.git
[submodule "horizon"]
	path = horizon
	url = https://github.com/ChameleonCloud/horizon.git
[submodule "blazar-dashboard"]
	path = blazar-dashboard
	url = https://github.com/ChameleonCloud/blazar-dashboard.git
[submodule "heat-dashboard"]
	path = heat-dashboard
	url = https://github.com/ChameleonCloud/heat-dashboard.git
[submodule "ironic"]
	path = ironic
	url = https://github.com/ChameleonCloud/ironic.git
[submodule "keystone"]
	path = keystone
	url = https://github.com/ChameleonCloud/keystone.git
[submodule "networking-generic-switch"]
	path = networking-generic-switch
	url = https://github.com/ChameleonCloud/networking-generic-switch.git
[submodule "nova"]
	path = nova
	url = https://github.com/ChameleonCloud/nova.git
[submodule "blazar-nova"]
	path = blazar-nova
	url = https://github.com/ChameleonCloud/blazar-nova.git
[submodule "doni"]
	path = doni
	url = https://github.com/ChameleonCloud/doni.git
[submodule "kolla"]
	path = kolla
	url = https://github.com/ChameleonCloud/kolla.git
[submodule "kolla-ansible"]
	path = kolla-ansible
	url = https://github.com/ChameleonCloud/kolla-ansible.git
[submodule "chi-in-a-box"]
	path = chi-in-a-box
	url = https://github.com/chameleoncloud/chi-in-a-box
